body {
  overflow-x: hidden !important;
}

.board {
  text-align: center !important;
}

.block {
  width: 120px;
  height: 120px;
  border: 3px solid;
  background-size: cover;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
}

.blockWidth {
  width: 380px;
}

.dot {
  background-image: url("./components/imgaes/dry-clean.png");
  background-position: 50%;
  background-size: 90%;
  background-repeat: no-repeat;
}

.cross {
  background-image: url("./components/imgaes/close.png");
}

@media screen and (max-width: 690px) {
  .mainHeading {
    text-align: start !important;
  }

  .block {
    width: 60px;
    height: 60px;
  }

  .blockWidth {
    width: 200px;
  }

  .phoneScreen {
    margin: 20px -50px !important;
  }
}
